@model SAASApp.Data.Migrations.Product

@{
    ViewData["Title"] = "Create";
}

<form asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control"/>
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <button class="btn btn-primary btn-lg" type="submit">Submit</button>
</form>