@model System.Collections.Generic.List<SAASApp.Data.Migrations.Product>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<html lang="en">
<head>
    <title>title</title>
</head>
<body>
<div>
    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
            </tr>
        }
        </tbody>
    </table>
</div>
</body>
</html>